.global {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;  
}

button{
    background-color: #BACEC1;
    border-color: #BACEC1;
}

h1{
    margin: 0;
}

.block{
    background-color: #E59560;
    padding: 20px;
    border-radius: 10px;
}